{% extends "base.html" %}
{% load static %}

{% block title %}User: {{ object.username|title }}{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2>{{ object.username|title }}</h2>
      {% if object.name %}
        <p>{{ object.name|title }}</p>
      {% endif %}
    </div>
  </div>
{% if object == request.user %}
<!-- Action buttons -->
<div class="row">
  <div class="col-sm-12">
    <a class="btn btn-primary" href="{% url 'users:update' %}" role="button">My Info</a>
    <a class="btn btn-primary" href="{% url 'account_email' %}" role="button">E-Mail</a>
    <!-- Your Stuff: Custom user template urls -->
  </div>
</div>
<!-- End Action buttons -->
{% endif %}
</div>
<div class="container">
  <div class="page-header">
    <h4>
      <strong>You have <span class="label label-warning">{{ cantidad }}</span> aviable Events </strong>
      <a class="btn btn-primary pull-right" href="{% url 'events:create_event' %}">
        <i class="fa fa-plus" aria-hidden="true"></i> Create new event
      </a>
    </h4>
  </div><!-- page-header -->
  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th></th>
            <th class="text-center">Event Name</th>
            <th class="text-center">Categories</th>
            <th class="text-center">Start</th>
            <th class="text-center">End</th>
            <th class="text-center">Price</th>
            <th class="text-right">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for event in events %}
          <tr>
            <td>
              {% if event.image %}
              <img src="{{ event.image.url }}" alt="{{ event.name }}" width="60" class="img-rounded img-responsive">
              {% else %}
              <img src="http://placehold.it/300x180" alt="beta-image" width="60" class="img-rounded img-responsive">
              {% endif %}
            </td>
            <td class="text-center">{{ event.name }}</td>
            <td class="text-center">{{ event.category }}</td>
            <td class="text-center">{{ event.start }}</td>
            <td class="text-center">{{ event.end }}</td>
            <td class="text-center">
              {% if event.free %}
                  <span class="label label-default">Free</span>
              {% else %}
                  <span class="label label-info">$ {{ event.price }}</span>
              {% endif %}
            </td>
            <td class="text-right">
              <a href="#" class="btn btn-success">
                <i class="fa fa-eye" aria-hidden="true"></i>
              </a>
              <a href="#" class="btn btn-warning">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
              </a>
              <a href="#" class="btn btn-danger">
                <i class="fa fa-trash" aria-hidden="true"></i>
              </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div><!-- col-md-12 -->
  </div><!-- /row -->
</div><!-- /container -->
{% endblock content %}

